.leftpart {
    width: 70%;
}

@function p-size($h1size) {
    @if $h1size > 25px {
        @return 16px;
    } @else {
        @return 0.6*$h1size
    }
}

.main {
    $h1size: 30px;
    margin-bottom: 88px;

    p {
        font-size: p-size($h1size);
    }

    &_title{
        font-size: 30px;
        margin-bottom: 20px;
    }

    &_content {
        display: flex;
        justify-content: space-between;

        &_block{
           
            border: 1px solid $primarycolor;
            display: flex;
            border-radius: 12px;
            width: 300px;
            height: 300px;
            p {
                margin: auto;
               
            }
        }
    }
}

