
body {
    background-image: url('./fotos/sticker-FIT.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-attachment: fixed;
}

ul li {
    list-style-image: url("./fotos/home.png");

}

.wrapper {
    width: 300px;
}

p {
    text-indent: 5px;
}

.first {
    float: left;
    width: 200px;
}

.second {
    float: right;
    width: 200px;
}