*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: none;
}

header {
    min-height: 200px;
    padding: 0 50px;
}

.nav {
    display: flex;
    gap: 50px;
}

li {
    list-style-type: none;
}

.nav >li {
    text-align: center;
    flex-grow: 1;
    width: 20%;
}

.nav li a {
    background: #011638;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: 0.25s;
}

.nav li a:hover {
    background: #004785;
}

.menu-links li:last-of-type a {
    border-radius: 0 0 5px 5px;
}

.menu-links li a {
    display: none;
    border: 0;
    text-align: center;
    background: #004785;
    
}

.fit:hover .menu-links li a {
    display: block;
}

.menu-links li a:hover {
   text-decoration: underline;
}